<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bead.dreamwallet">

    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.bead.dreamwallet.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.toolbar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bead.dreamwallet"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.StartAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.LoansDetailsActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.FindBackPasswordActivity" />
        <activity android:name=".activity.SetPasswordActivity" />
        <activity android:name=".activity.HelpCenterActivity" />
        <activity android:name=".activity.ApplyMoneyActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.ForumWebViewActivity" />
        <activity android:name=".activity.ApplyRecordActivity" />
        <activity android:name=".activity.MyFindActivity" />
        <activity android:name=".activity.CommentDetailsActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.MyActivityActivity" />
        <activity android:name=".activity.DetailsActivity" />
        <activity android:name=".activity.AuthActivity" />
        <activity android:name=".activity.AuthDetailActivity" />
        <activity android:name=".activity.TrueNameInfoActivity" />
        <activity android:name=".activity.DetailsByForumActivity"  android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.InformationListActivity" />
        <activity android:name=".activity.AddForumActivity" />


        <!-- 友盟分享 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a17b2a1f43e4813b4000061" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105462537" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 友盟 -->


    </application>

</manifest>